# Lab 03: Fun with `pandas`!

Below are some exercises to get you working with `pandas` to manipulate data. As always, get as far as you can, and ask for help when you need it! Your teacher (me), you instructor, and your classmates are all here to help each other get better at coding. Getting the code to work is important, but do also take the time to make sure you understand what the commands are doing. This time, (with the exception of the Stroop challenge), all I've given you is the code to download the data. Then you are on your own. For the Stroop challenge, I gave the you code for the first stepâ€”after that, it's up to you :-)

## Music sales challenge

Write a script that:

1. Combines the tables of best-selling physical singles and best-selling digital singles on the Wikipedia page "List_of_best-selling_singles"
2. Adds a column which marks whether each row is from the list of physical singles or digital singles
3. Outputs the artist and single name for the year you were born. If there is no entry for that year, take the closest year after you were born.
4. Outputs the artist and single name for the year you were 15 years old.

In [1]:
%pip install lxml

DEPRECATION: Loading egg at /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/dlatk-1.2.7-py3.12.egg is deprecated. pip 25.1 will enforce this behaviour change. A possible replacement is to use pip for package installation. Discussion can be found at https://github.com/pypa/pip/issues/12330
Requirement already satisfied: lxml in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (5.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
# Starter code...
import pandas as pd

rawdata = pd.read_html("/Users/magnusseverin/Desktop/List of best-selling singles - Wikipedia.html") #my computer has issues downloading, so I have it locally


physical_singles = pd.concat([rawdata[0], rawdata[1]], ignore_index=True)
digital_singles = pd.concat([rawdata[3], rawdata[4]], ignore_index=True)

#Type column
physical_singles["Type"] = "Physical"
digital_singles["Type"] = "Digital"

#Combining lists
combined_best_selling_singles = pd.concat([physical_singles, digital_singles], ignore_index=True)

/var/folders/7_/txf_yc3n3ws8m_z7jz1j51nr0000gn/T/ipykernel_59662/1693393043.py:4: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  rawdata = pd.read_html("/Users/magnusseverin/Desktop/List of best-selling singles - Wikipedia.html") #my computer has issues downloading, so I have it locally
/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/pandas/io/html.py:666: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  soup = BeautifulSoup(udoc, features="html5lib", from_encoding=from_encoding)

ValueError: No tables found

In [ ]:
#Data for year nearest to 2001
all_released_years = combined_best_selling_singles["Released"].unique() #list of all unique years
nearest_year_to_2001 = all_released_years[abs(all_released_years - 2001).argmin()] #finding year with minimum difference

best_selling_2001 = combined_best_selling_singles[combined_best_selling_singles["Released"] == nearest_year_to_2001]
print(best_selling_2001)

    Artist               Single  Released Sales (in millions) Source      Type
19  O-Zone  "Dragostea din tei"      2003                12.0   [22]  Physical

In [ ]:
#Data for year nearest to 2016
all_released_years = combined_best_selling_singles["Released"].unique() #list of all unique years
nearest_year_to_2016 = all_released_years[abs(all_released_years - 2016).argmin()] #finding year with minimum difference

best_selling_2016 = combined_best_selling_singles[combined_best_selling_singles["Released"] == nearest_year_to_2016]
print(best_selling_2016)

                               Artist               Single  Released  \
46            Rihanna featuring Drake               "Work"      2016
50  The Chainsmokers featuring Halsey             "Closer"      2016
60                            Rihanna          "Needed Me"      2016
78    Drake featuring Wizkid and Kyla          "One Dance"      2016
90            Sia featuring Sean Paul      "Cheap Thrills"      2016
98    The Chainsmokers featuring Daya  "Don't Let Me Down"      2016

   Sales (in millions)    Source     Type
46             32.5[a]      [49]  Digital
50             20.7[a]  [51][47]  Digital
60             17.0[a]      [49]  Digital
78             12.5[a]      [51]  Digital
90             11.1[a]      [51]  Digital
98             10.2[a]      [51]  Digital

## Space challenge

1. Make a single dataframe that combines the space missions from the 1950's to the 2020's
2. Write a script that returns the year with the most launches
3. Write a script that returns the most common month for launches
4. Write a script that ranks the months from most launches to fewest launches

In [ ]:
# Starter code...

#%pip install lxml
import pandas as pd

rawdata = pd.read_html("/Users/magnusseverin/Desktop/Timeline of Solar System exploration - Wikipedia.html")

combined_spacemissions = pd.concat(rawdata[:8], ignore_index=True)

In [ ]:
#Woops made one for decade with most launches
decades = combined_spacemissions["Launch date"].str.strip().str[-2] #extracting the decade
count_by_decade = decades.value_counts() #counting the number of missions each decade

In [ ]:
#Most launches by year 
years = combined_spacemissions["Launch date"].str.strip().str[-4:] #extracting the year
count_by_years = years.value_counts() #counting the number of missions each decade

#Year with most launches
count_by_years.idxmax()

'1965'

In [ ]:
#Most launches by month
months = combined_spacemissions["Launch date"].str.extract(r"([A-Za-z]+)") 
count_by_months = months.value_counts() #counting the number of missions each month

count_by_months.idxmax()

count_by_months.sort_values(ascending=False) #it might already be sorted actually, but yes
print(count_by_months)

November     30
August       27
October      22
September    22
July         21
December     19
January      19
May          17
March        15
February     14
June         14
April        13
Name: count, dtype: int64

## Supervillain challenge

1. Write a script that combines the tables showing supervillain debuts from the 30's through the 2010's
2. Write a script that ranks each decade in terms of how many supervillains debuted in that decade
3. Write a script that ranks the different comics companies in terms of how many supervillains they have, and display the results in a nice table (pandas dataframe)

In [ ]:
rawdata = pd.read_html("/Users/magnusseverin/Desktop/List of comic book supervillain debuts - Wikipedia.html")
combined_supervillans = pd.concat(rawdata[:12], ignore_index=True)

In [ ]:
decades = combined_supervillans["Year Debuted"].str.strip().str[2] #extracting the decade
count_by_decade = decades.value_counts() #counting the number of missions each decade

count_by_decade.index = count_by_decade.index.astype(str) + "0s"
count_by_decade

Year Debuted
60s    228
70s     96
80s     90
90s     83
00s     49
40s     46
50s     26
10s      9
30s      4
a0s      2
:0s      1
n0s      1
r0s      1
Name: count, dtype: int64

In [ ]:
count_by_company = combined_supervillans["Company"].value_counts() #counting the number of missions each decade

company_df = pd.DataFrame(count_by_company)

company_df

                          count
Company
DC                          338
Marvel                      264
Fawcett Comics/DC             6
Image                         5
Dark Horse                    5
Marvel/Timely                 4
Disney/Hyperion               4
Eternity                      3
Lev Gleason Publications      1
Comico                        1
Mirage                        1
Image Comics                  1

## Stroop challenge

Every year between 2015 and 2021, the students in my Language, Cognition, and the Brain course participated in a version of the Stroop task. Using a stopwatch (ok, using their phones), they recorded how fast they could say a list of things (either reading or naming colors or color words). The column names mean "Reading with No Interference", "Naming with Interference", "Naming with No Interference", and "Reading with Interference". The times are in seconds.

### Stroop challenge 1: 
Transform these data from wide format to long format, so that the result is a dataframe with
- 1 column named "Participant_id" with a unique number for each participant (you can use the row indices)
- 1 column named "Year" with the year data
- 1 column named "Task" that shows which task they were doing
- 1 column named "RT" that shows their response time

In [ ]:
# Starter code 1...

#df = pd.read_csv("https://raw.githubusercontent.com/ethanweed/Stroop/master/Stroop-raw-over-the-years.csv")

df.head()

   Reading_NoInt  Naming_Int  Naming_NoInt  Reading_Int  Year
0           4.16        6.76          4.45         4.65  2015
1           4.35        7.73          4.78         4.46  2015
2           3.60        7.00          4.00         3.50  2015
3           3.90        9.03          4.60         6.30  2015
4           4.22        9.98          6.83         6.24  2015

In [22]:
# Starter code 2...

# Make a new column using the dataframe indices as particpant numbers

df.index.name = 'Participant_id'
df = df.reset_index()

df

#Applying melt function to create long format
long_df = pd.melt(
    df,
    id_vars=["Participant_id", "Year"],
    value_vars=["Reading_NoInt", "Naming_Int", "Naming_NoInt", "Reading_Int"],
    var_name="Task",
    value_name="RT"
)

long_df

     Participant_id  Year           Task    RT
0                 0  2015  Reading_NoInt  4.16
1                 1  2015  Reading_NoInt  4.35
2                 2  2015  Reading_NoInt  3.60
3                 3  2015  Reading_NoInt  3.90
4                 4  2015  Reading_NoInt  4.22
..              ...   ...            ...   ...
723             177  2021    Reading_Int  4.28
724             178  2021    Reading_Int  5.49
725             179  2021    Reading_Int  5.16
726             180  2021    Reading_Int  5.51
727             181  2021    Reading_Int  4.59

[728 rows x 4 columns]

## Stroop challenge 2 (Advanced!!!):

Make a new dataframe which shows the mean response time (in seconds) for each task for each year.

In [27]:
#Here, we group (aggregate) by year and task applying mean function to the RT column
mean_rt_df = long_df.groupby(["Year", "Task"], as_index=False)["RT"].mean()

mean_rt_df

    Year           Task         RT
0   2015     Naming_Int   8.617143
1   2015   Naming_NoInt   5.123571
2   2015    Reading_Int   4.446429
3   2015  Reading_NoInt   3.951429
4   2016     Naming_Int   8.859268
5   2016   Naming_NoInt   5.405610
6   2016    Reading_Int   5.340000
7   2016  Reading_NoInt   4.076098
8   2017     Naming_Int   9.311765
9   2017   Naming_NoInt   5.771176
10  2017    Reading_Int   5.492353
11  2017  Reading_NoInt   4.414412
12  2018     Naming_Int   9.372667
13  2018   Naming_NoInt   5.298000
14  2018    Reading_Int   4.938667
15  2018  Reading_NoInt   3.886000
16  2019     Naming_Int   9.536087
17  2019   Naming_NoInt   6.345652
18  2019    Reading_Int   6.090870
19  2019  Reading_NoInt   4.935652
20  2020     Naming_Int   9.740833
21  2020   Naming_NoInt   5.962500
22  2020    Reading_Int   4.956667
23  2020  Reading_NoInt   4.395000
24  2021     Naming_Int  10.105484
25  2021   Naming_NoInt   6.387742
26  2021    Reading_Int   7.038065
27  2021  Reading_NoInt   4.842581